<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form [formGroup]="filterForm" (ngSubmit)="applyFilters()">
        <label for="name">Name:</label>
        <input type="text" id="name" formControlName="name" />
    
        <label for="status">Status:</label>
        <input type="text" id="status" formControlName="status" />
        
        <label for="name">Species:</label>
        <input type="text" id="species" formControlName="species" />
    
        <label for="status">Type:</label>
        <input type="text" id="type" formControlName="type" />

        <label for="status">Gender:</label>
        <input type="text" id="gender" formControlName="gender" />
    
        <button type="submit">Apply Filters</button>
      </form>
    <div class="grid-container">
        <div *ngFor="let caracter of characters_datas" class="item">
            <img [src]="caracter.image" alt="Rachel Image">
            <ul>
                <li>Status: {{caracter.status}}</li>
                <li>Species: {{caracter.species}}</li>
                <li>Gender: {{caracter.gender}}</li>
                <li>Origin: {{caracter.origin.name}}</li>
                <li>Last Location: {{caracter.location.name}}</li>
            </ul>
        </div>
      </div>
      <div>
        <a (click)="previousPage()">Page précédente</a>
      
        <a  *ngFor="let page of [].constructor(totalPages); let i = index" (click)="goToPage(i + 1)"  [class.active]="currentPage === i + 1">
            {{ i + 1 }}
        </a>  
        <a (click)="nextPage()" >Page suivante</a>
    </div>
</body>
</html>